body, h1, p {
	margin:0;
	padding:0;
}

/* tipografia */
body {
	font-family: 'Space Grotesk', sans-serif;
	color: black;
}

h1 {
	font-size: 30px;
}

/* layout base */

.container {
	position: relative;
	width: 100% 0px;
	margin-left: 200px;
	margin-right: 15px;
	
}

.container h1 {
	margin-top: 15px;
	margin-bottom: 20px;
}

.container p {
	margin-bottom: 20px;
}

#a-peste {
	padding-top: 115px;
}

#fragmento92 {
	padding-top: 115px;
}

#infografico {
	padding-top: 115px;
}

#julita {
	padding-top: 115px;
}

#larico {
	padding-top: 115px;
}

#brasao {
	padding-top: 115px;
}

#cartazes {
	padding-top: 115px;
}

#cenografia {
	padding-top: 115px;
}

#daysoftype {
	padding-top: 115px;
}

.link_home {
	position:fixed;
	top: 25px;
	left: 25px;
	width: 140px;
	height: 70px;
	z-index: 102;
}

.barra-lateral {
	background-image: url("../img/athsas-anima.gif");
	background-repeat: no-repeat;
	background-position: center 25px;
	background-size: 70%;
	background-color: white;
	height: 100%;
	position: fixed;
	width: 190px;
	font-size: 20px;
	z-index: 100;
}

ul {
	list-style: square inside url("../img/bullet-lateral.png");
	margin-top: 130px;
}

ul a {
	color: red;
}

ul li {
	margin-top: 30px;
	margin-left: -10px;
}

ul li a:hover {
	color: red;
	font-weight: 700;
	background-image: url("../img/hover-lateral_gif.gif");
	background-size: 100%;
	background-repeat: repeat-x;
	background-position:center;
}

/* navegacao */

nav {
	position:fixed;
	background-color: white;
	height: 30px;
	text-align: right;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 15px;
	font-size: 20px;
	z-index: 99;
	
}

nav a {
	position: relative;
	color: black;
	top: -10px;
	margin-right: 50px;
	font-weight: 300;
	display: inline-block;
	
}

nav a:hover {
	position: relative;
	font-weight: 700;
	background-image: url("../img/hover-top_gif.gif");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/* intro */

.anima-intro {
	position: relative;
	background-image: url("../img/intro-header.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 115px;
}

/* sobre */

#sobre h1 {
	padding-top: 315px;
	margin-top: -315px;
	margin-bottom: 15px;
}

#sobre p {
	line-height: 1.5em;
	
}

#sobre a {
	color:red;
	text-decoration: none;
}

#sobre a:hover {
	font-weight: 700;
	background-image: url("../img/hover-lateral_gif.gif");
	background-repeat: no-repeat;
	background-position: center;
}

/* projetos */

#projetos h1 {
	padding-top: 115px;
	margin-top: -100px;
}

.daysoftype {
	padding-bottom: 25px;
	
}

.daysoftype:hover a {
	opacity: 0.5;
	transition: .5s ease;
	cursor: url("../img/36days-hover.png"), cell;
}

.cartazes {
	padding-bottom: 25px;
	
}

.cartazes:hover a {
	opacity: 0.5;
	transition: .5s ease;
	cursor: url("../img/cartazes-hover.png"), cell;
}

.brasao {
	padding-bottom: 25px;
	
}

.brasao:hover a {
	opacity: 0.5;
	transition: .5s ease;
	cursor: url("../img/brasao-hover.png"), cell;
}

.cenografia {
	padding-bottom: 25px;
	
}

.cenografia:hover a {
	opacity: 0.5;
	transition: .5s ease;
	cursor: url("../img/cenografia-hover.png"), cell;
}

.larico {
	padding-bottom: 25px;
	
}

.larico:hover a {
	opacity: 0.5;
	transition: .5s ease;
	cursor: url("../img/larico-hover.png"), cell;
}

.infografico {
	padding-bottom: 25px;
	
}

.infografico:hover a {
	opacity: 0.5;
	transition: .5s ease;
	cursor: url("../img/infografico-hover.png"), cell;
}

.julita {
	padding-bottom: 25px;
	
}

.julita:hover a {
	opacity: 0.5;
	transition: .5s ease;
	cursor: url("../img/julita-hover.png"), cell;
}

.fragmento92 {
	padding-bottom: 25px;
	
}

.fragmento92:hover a {
	opacity: 0.5;
	transition: .5s ease;
	cursor: url("../img/fragmento92-hover.png"), cell;
}

.a-peste {
	padding-bottom: 25px;
	
}

.a-peste:hover a {
	opacity: 0.5;
	transition: .5s ease;
	cursor: url("../img/apeste-hover.png"), cell;
}

/* footer */

footer {
	position: absolute;
	width: 100%;
	color: white;
	background: black;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	z-index: 101;
	
}

footer a {
	color: white;
}

footer a:hover {
	color: red;
}

/* media queries */

@media (max-width: 768px) {
	
	.barra-lateral {
	background-image: url("../img/athsas-anima.gif");
	background-repeat: no-repeat;
	background-position: center 5px;
	background-size: 130px;
	background-color: white;
	height: 175px;
	position: fixed;
	width: 100%;
	font-size: 20px;
	z-index: 99;
}
	
	nav {
	position:fixed;
	background-color: white;
	height: 0px;
	text-align: center;
	width: 100%;
	padding-top: 15px;
	margin-top: 75px;
	font-size: 20px;
	z-index: 100;
	
}

nav a {
	margin-right: 25px;
}
	
ul {
	list-style: url("../img/bullet-lateral.png");
	margin-top: 100px;
	display: flex;
    justify-content: space-around;
	
}

ul a {
	color: red;
}

ul li {
	font-size: 16px;

}

ul li a:hover {
	color: red;
	font-weight: 700;
	background-image: url("../img/hover-lateral_gif.gif");
	background-size: 100%;
	background-repeat: repeat-x;
	background-position:center;
}
	
	.container {
	position: relative;
	width: 100% 0px;
	margin-left: 15px;
	margin-right: 15px;
}
	#a-peste {
	padding-top: 175px;
	font-size: 14px;
	}
	
	#fragmento92 {
	padding-top: 175px;
	font-size: 14px;
	}
	
	#infografico {
	padding-top: 175px;
	font-size: 14px;
	}
	
	#julita {
	padding-top: 175px;
	font-size: 14px;
	}
	
	#larico {
	padding-top: 175px;
	font-size: 14px;
	}
	
	#brasao {
	padding-top: 175px;
	font-size: 14px;
	}
	
	#cartazes {
	padding-top: 175px;
	font-size: 14px;
	}
	
	#cenografia {
	padding-top: 175px;
	font-size: 14px;
	}
	
	#daysoftype {
	padding-top: 175px;
	font-size: 14px;
	}
	
	.link_home {
	position:fixed;
	top: 40px;
	left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	width: 140px;
	height: 70px;
	z-index: 102;
	}
	
	.anima-intro {
	margin-top: 175px;
}
	#sobre p {
		font-size: 14px;
	}
	
	.CV_link {
		text-align: center;
	}
	
	#projetos h1 {
		padding-top: 175px;
		margin-top: -150px;
	}
	
	p {
		text-align: center;
	}
	
	h1 {
	text-align: center;
	}
	
	footer {
	font-size: 14px;
	}
	
}